.container {
  display: block;
  margin: 0 auto;
}

.weather-wrapper {
  display: block;
  border: 3px solid #007cb9;
  margin: 30px;
  border-radius: 4px;
  max-width: 700px;
  background: linear-gradient(to top, #fcddcf 0%, #d5eeff 100%);
}
.city-search {
  display: block;
  padding: 20px 30px;
}

.enter-city-text::placeholder {
  color: #4a728f;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 2px solid #007cb9;
  border-radius: 4px;
}

.search-icon {
  position: relative;
  top: 10px;
  left: 5px;
}

button#current-weather {
  color: white;
  background: #007cb9;
  border: 1px solid #007cb9;
  margin: 30px;
  border-radius: 4px;
  padding: 5px 10px;
  width: 150px;
}

button#current-weather:hover {
  background: white;
  color: #007cb9;
  transition: 200ms ease-in-out;
}

h1 {
  color: #005689;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 0 30px;
}

.weather-stats {
  color: #005689;
  font-size: 15px;
  font-weight: 200;
  padding: 0 0 30px 30px;
}

#temp-number {
  font-size: 50px;
  position: relative;
  left: -35px;
  top: -5px;
  font-weight: 600;
}

#temp-degree {
  font-weight: 200;
  font-size: 19px;
  position: relative;
  top: -27px;
  left: -35px;
}

#current-temperature {
  position: relative;
  top: -10px;
  left: -15px;
  white-space: nowrap;
  float: left;
}

#main-emoji {
  position: relative;
  top: -19px;
  left: -30px;
  width: 75px;
}

a#celsius {
  text-decoration: none;
}

#humidity-wind {
  position: relative;
}

#weather-description {
  text-transform: capitalize;
}

.weather-forecast {
  color: #005689;
  padding: 0 0 30px;
  text-align: center;
}
.weekday {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
}

.emojis {
  font-size: 30px;
  text-align: center;
}
.temperature {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

#forecast-temperature-low {
  color: #007cb9;
  opacity: 0.7;
}

p {
  margin: 30px;
  font-size: 10px;
}
