.weather-wrapper {
  display: block;
  border: 3px solid #1c8adb;
  margin: 30px;
  border-radius: 4px;
  max-width: 700px;
}
.city-search {
  display: block;
  padding: 20px 30px;
}

.enter-city-text::placeholder {
  color: #4a728f;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 2px solid #1c8adb;
  border-radius: 4px;
}

.search-icon {
  position: relative;
  top: 8px;
  left: 5px;
}

button#current-weather {
  color: white;
  background: #1c8adb;
  border: 1px solid #1c8adb;
  margin: 30px;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100px;
}

button#current-weather:hover {
  background: white;
  color: #1c8adb;
  transition: 200ms ease-in-out;
}

h1 {
  color: #ae1cdb;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 0 30px;
}

.weather-stats {
  color: #ae1cdb;
  font-size: 15px;
  font-weight: 200;
  padding: 0 0 30px 30px;
}

#temp-number {
  font-size: 35px;
  position: relative;
  font-weight: 600;
}

#temp-degree {
  font-weight: 200;
  font-size: 15px;
  position: relative;
  top: -15px;
}

#current-temperature {
  position: relative;
  top: -10px;
  left: -15px;
  white-space: nowrap;
  float: left;
}

#current-temperature .active {
  color: #ae1cdb;
  cursor: default;
}

#main-emoji {
  position: relative;
  top: -10px;
  width: 70px;
  height: auto;
  text-align: center;
}

a#celsius {
  text-decoration: none;
}

#humidity-wind {
  position: relative;
}

a:hover {
  color: purple;
}

#weather-description {
  text-transform: capitalize;
}

.weather-forecast {
  color: #1c8adb;
  padding: 0 0 30px;
  text-align: center;
}
.weekday {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
}

.emojis {
  font-size: 30px;
  text-align: center;
}
.temperature {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

#forecast-temperature-low {
  opacity: 0.5;
}

p {
  margin: 30px;
  font-size: 10px;
}
